<style>
    #wrap { width: 320px; height: 240px; padding: 0; overflow: hidden; }
    #frame { width: 700px; height: 600px; border: 1px solid black; }
    #frame {
        -ms-zoom: 0.55;
        -moz-transform: scale(0.55);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.55);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.55);
        -webkit-transform-origin: 0 0;
    }
</style>
<center><div id="wrap"><iframe id="frame" src="https://editor.p5js.org/fortierq/full/CsVuWdehV" ></iframe></div></center>